################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/deckMove/v15
/deskMoveServer/deskMoveServer/bin/Debug
/deskMoveServer/deskMoveServer/obj/Debug
/deskMoveClient/deskMoveClient/obj/Debug
/deskMoveClient/deskMoveClient/bin/Debug
